#wrapper .gigpress-header {visibility: hidden; position: absolute;}
#wrapper .vevent {   
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #373738 !important;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    float: left;
    min-height: 80px;
    margin-bottom: 5px;
    position: relative;
    padding: 10px;
    width:100%;}
   
#wrapper .gigpress-left {
	float:left;
	width:414px;
	padding: 6px 8px;
}
#wrapper .gigpress-right {
	float:right;
	width:114px;
	padding: 6px 8px;
}

#wrapper .gigpress-table {
	border-style: none!important;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);}

#wrapper .gigpress-heading,
#wrapper .gigpress-tour td {
	background-color: transparent;
}

#wrapper .gigpress-heading,
#wrapper .gigpress-table th {
	border-bottom: none;
}

#wrapper .gigpress-city {
    color: #C3C3C3;
    font-family: "BebasRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 26px;
	line-height: 26px;
    font-weight: normal;	
	float: left;
}

#wrapper .gigpress-country {
	float:left;
	clear: right;
	padding-left: 20px;
}

#wrapper .gigpress-venue {
	font-size: 12px;
	line-height: 12px;
	float: left;
	clear: both;
}

#wrapper .gigpress-table .description {
	clear: both;
}

#wrapper .gigpress-row span {
    border-bottom: none!important;}

#wrapper .gigpress-info span {
    border-bottom: none!important;}

#wrapper .gigpress-date {
    color: #C3C3C3;
    float: right;
    font-family: "BebasRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 26px;
    font-weight: normal;
	padding-bottom: 6px;
}

#wrapper .gigpress-links-cell {
	display: none;}

#wrapper .gigpress-info { 
	
}
    
#wrapper .gigpress-info-label {
    color: #888888!important;}
    
#wrapper .gigpress-info-item {
font-size: 12px;}

#wrapper .gigpress-listing li {
    width: 270px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    padding: 14px 10px 8px 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    min-height: 45px;}

#wrapper .gigpress-listing li .gigpress-tickets-link {
	left:178px;
	top:10px;}

#wrapper .gigpress-sidebar-date {    
	color: #C3C3C3;
    font-family: "BebasRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: normal!important;
    margin: 2px 0;
	display: inline;
}

#wrapper a.gigpress-tickets-link {
	background: none repeat scroll 0 0 #c3c3c3;
	border: 1px solid #a3a3a3;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
	color: #CECECE!important;
	display: block;
	font-weight: bold;
	padding: 2px 0 2px 2px;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
	float: right;
}
	
#wrapper a:hover.gigpress-tickets-link {
	background: none repeat scroll 0 0 #4b6e74;
	text-decoration: none;}
	
#wrapper a:active.gigpress-tickets-link {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4) inset;}