a {
  color: #cca929;
}
a:visited {
  color: #cca929;
}
a:hover {
  color: #edba00;
}
body {
  background: #000000 url(../images/background-gold.jpg) center top no-repeat;
  background-size: auto auto;
  /* -webkit-background-size: 2000px 1175px;*/
}
#wrapper {
  background: #131313, #121212;
  background-image: url(../images/background-gold.jpg), url(../images/bg-2.gif);
  background-position: center top, center top;
  background-repeat: no-repeat, repeat-y;
  background-size: auto auto;
  /* -webkit-background-size: 2000px 1175px;; */
}
.nav li:hover,
.nav li.sfhover,
.nav li.current-menu-item,
.nav li.current_page_item {
  background: url(../images/menu-gold.png) 50% 29px no-repeat;
}
.nav li:hover a,
.nav li.sfhover a,
.nav li.current-menu-item a,
.nav li.current_page_item a {
  color: #cca929 !important;
}
.nav li.has-children a {
  background: url(../images/arrows-gold.png) 100% -89px no-repeat;
}
.nav li:hover li:hover a,
.nav li.sfhover li.sfhover a {
  color: #edba00 !important;
}
.nav li li.has-children a {
  background: url(../images/arrows-gold.png) 100% 6px no-repeat;
}
.nav li:hover li:hover li:hover a,
.nav li.sfhover li.sfhover li.sfhover a {
  color: #edba00 !important;
}
#header {
  border-bottom: 4px solid #2d4660;
  border: none;
}
#searchform input[type=text] {
  border: 1px solid #cca929;
}
#searchform input[type=submit] {
  border: 1px solid #cca929;
  color: #cca929;
}
/* Text */
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #cca929;
}
blockquote {
  border: 1px solid #cca929;
  background: rgba(45, 70, 96, 0.15);
  background-color: rgba(102, 93, 61, 0.15);
}
a.more-link {
  color: #cca929;
  border-bottom: 1px solid #cca929;
}
.wp-caption img {
  border-left: 1px solid #cca929;
  border-top: 1px solid #cca929;
  border-right: 1px solid #cca929;
}
.wp-caption p {
  border-left: 1px solid #cca929;
  border-bottom: 1px solid #cca929;
  border-right: 1px solid #cca929;
}
.post-meta a,
.post-meta a:visited,
.post-info a,
.post-info a:visited {
  color: #cca929;
}
.post-meta {
  border: 1px solid #cca929;
  color: #cca929;
}
#comments img {
  border: 1px solid #cca929;
}
#comments cite,
#comments cite a {
  color: #cca929;
}
#comments .reply,
#comments .reply a {
  color: #cca929;
}
#comments li .comment-body {
  border-bottom: 1px solid #cca929;
  border-right: 1px solid #cca929;
  border-top: 1px solid #cca929;
}
#comments li .comment-body .comment-arrow {
  background: url(../images/comment-arrow-gold.png) no-repeat;
}
#comments li li .comment-body .comment-arrow {
  background: url(../images/comment-arrow-gold.png) -8px 0 no-repeat;
}
#comments li li .comment-body {
  border-left: 1px solid #cca929;
}
#comments li li li .comment-body .comment-arrow {
  background: url(../images/comment-arrow-gold.png) -8px 0 no-repeat;
}
#comments input {
  border: 1px solid #cca929;
}
#comments textarea {
  border: 1px solid #cca929;
}
#comments input[type=submit] {
  color: #cca929;
}
#comments input[type=submit]:hover {
  background: #cca929;
}
#footer {
  background: url(../images/footer-gold.jpg) 50% 0;
}
.mc_input {
  border: 1px solid #cca929;
}
.mc_signup_submit input[type=submit]:hover {
  background: #cca929;
}
.gigpress-table {
  color: #997800 !important;
}
a.gigpress-tickets-link {
  background: none repeat scroll 0 0 #735f17;
  border: 1px solid #735f17;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  color: #CECECE!important;
  display: block;
  font-weight: bold;
  left: 79%;
  padding: 2px 0 2px 2px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 45px;
  width: 100px;
}
a:hover.gigpress-tickets-link {
  background: none repeat scroll 0 0 #997800;
  text-decoration: none;
}
a:active.gigpress-tickets-link {
  background-color: #997800;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4) inset;
}
span.gigpress-info-item {
  color: #997800 !important;
}
/* GigPress Colors */
#wrapper #content .gigpress-table,
#wrapper #content .gigpress-info-item {
  color: #997800 !important;
}
#wrapper #content a.gigpress-tickets-link,
#wrapper #sidebar a.gigpress-tickets-link {
  background-color: #735f17;
  border-color: #cca929;
}
#wrapper #content a.gigpress-tickets-link:hover,
#wrapper #sidebar a.gigpress-tickets-link:hover {
  background-color: #997800;
}
#wrapper #content a.gigpress-tickets-link:active,
#wrapper #sidebar a.gigpress-tickets-link:active {
  background-color: #997800;
}
