a {
  color: #af1818;
}
a:visited {
  color: #af1818;
}
a:hover {
  color: #ca2e2e;
}
@media screen and (min-width: 975px) {
  body,
  #wrapper {
    background: #131313, #121212;
    background-image: url(../images/background-red.jpg);
    background-image: url(../images/background-red.jpg), url(../images/bg-2.gif);
    background-position: center top, center top;
    background-repeat: no-repeat, repeat-y;
    background-size: auto auto;
  }
}
.nav {
  border-color: #881313;
}
.nav .menu-item:hover a,
.nav .menu-item.sfhover a,
.nav .menu-item.current-menu-item a,
.nav .menu-item.current_page_item a {
  color: #af1818 !important;
}
.nav .menu-item:hover .menu-item:hover a,
.nav .menu-item.sfhover .menu-item.sfhover a {
  color: #ca2e2e !important;
}
.nav .menu-item:hover .menu-item:hover .menu-item:hover a,
.nav .menu-item.sfhover .menu-item.sfhover .menu-item.sfhover a {
  color: #ca2e2e !important;
}
#searchform input[type="text"],
#searchform input[type="submit"] {
  border: 1px solid #af1818;
  color: #af1818;
  background-color: #131313;
}
#searchform input[type="submit"]:hover {
  color: #ca2e2e;
}
/* Text */
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #af1818;
}
blockquote {
  border: 1px solid #af1818;
  background-color: rgba(19, 17, 17, 0.5);
}
a.more-link {
  color: #af1818;
  border-bottom: 1px solid #af1818;
}
.wp-caption img {
  border-left: 1px solid #af1818;
  border-top: 1px solid #af1818;
  border-right: 1px solid #af1818;
}
.wp-caption p {
  border-left: 1px solid #af1818;
  border-bottom: 1px solid #af1818;
  border-right: 1px solid #af1818;
}
.post-meta a,
.post-meta a:visited,
.post-info a,
.post-info a:visited {
  color: #af1818;
}
#comments img {
  border: 1px solid #af1818;
}
#comments cite,
#comments cite a {
  color: #af1818;
}
#comments .reply,
#comments .reply a {
  color: #af1818;
}
#comments li .comment-body {
  border-bottom: 1px solid #af1818;
  border-right: 1px solid #af1818;
  border-top: 1px solid #af1818;
}
#comments li .comment-body .comment-arrow {
  background: url(../images/comment-arrow-red.png) no-repeat;
}
#comments li li .comment-body .comment-arrow {
  background: url(../images/comment-arrow-red.png) -8px 0 no-repeat;
}
#comments li li .comment-body {
  border-left: 1px solid #af1818;
}
#comments li li li .comment-body .comment-arrow {
  background: url(../images/comment-arrow-red.png) -8px 0 no-repeat;
}
#comments input {
  border: 1px solid #af1818;
}
#comments textarea {
  border: 1px solid #af1818;
}
#comments input[type="submit"] {
  color: #af1818;
}
#comments input[type="submit"]:hover {
  background: #af1818;
}
#footer {
  background: url(../images/footer-red.jpg) 50% 0;
}
.mc_input {
  border: 1px solid #af1818;
}
.mc_signup_submit input[type="submit"]:hover {
  background: #af1818;
}
.gigpress-table {
  color: #881313 !important;
}
a.gigpress-tickets-link {
  background: none repeat scroll 0 0 #5c1212;
  border: 1px solid #5c1212;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  color: #cecece !important;
  display: block;
  font-weight: bold;
  left: 79%;
  padding: 2px 0 2px 2px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 45px;
  width: 100px;
}
a:hover.gigpress-tickets-link {
  background: none repeat scroll 0 0 #881313;
  text-decoration: none;
}
a:active.gigpress-tickets-link {
  background-color: #881313;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4) inset;
}
span.gigpress-info-item {
  color: #881313 !important;
}
/* GigPress Colors */
#wrapper #content .gigpress-table,
#wrapper #content .gigpress-info-item {
  color: #881313 !important;
}
#wrapper #content a.gigpress-tickets-link,
#wrapper #sidebar a.gigpress-tickets-link {
  background-color: #5c1212;
  border-color: #af1818;
}
#wrapper #content a.gigpress-tickets-link:hover,
#wrapper #sidebar a.gigpress-tickets-link:hover {
  background-color: #881313;
}
#wrapper #content a.gigpress-tickets-link:active,
#wrapper #sidebar a.gigpress-tickets-link:active {
  background-color: #881313;
}
