body {
    font-family: serif;
    color: #ddd;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

@media (min-width: 770px) {
    body {
        background-image: url("../img/bg.jpg");
        background-image: -webkit-image-set(
            url("../img/bg-low.jpg") 1x,
            url("../img/bg.jpg") 2x
        );
    }
}

.logo,
.poster {
    text-align: center;
    margin: 0 auto 10vh;
}

@media (min-width: 770px) {
    .logo,
    .poster {
        margin: 5vh auto;
    }
}

.logo img {
    height: auto;
    width: 80%;
    max-width: 1200px;
}
.poster img {
    height: auto;
    width: 100vw;
    transition: all 0.1s;
}

@media (min-width: 770px) {
    .poster img {
        height: 80vh;
        width: auto;
        max-width: 1200px;
    }
}

@media (max-width: 24.5rem) {
    h2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 21rem) {
    h2 {
        font-size: 1.1rem;
    }
}
